/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}
/* fond */ 
body{
	background-color:#FFFEF8;
	;
}
/* Styles de base pour les boutons */
.categories button {
	border: 1px solid #1D6154; /* Couleur de la bordure */
	border-radius: 25px; /* Coins arrondis */
	padding: 10px 20px; /* Espacement interne */
	margin-right: 10px; /* Espacement entre les boutons */
	background-color: white; /* Fond blanc */
	color: #1D6154; /* Couleur du texte */
	font-family: 'Syne', sans-serif; /* Police */
	font-size: 16px;
	cursor: pointer;
  }
  
  /* Style pour le bouton actif */
  .categories button.active {
	background-color: #1D6154; /* Couleur de fond pour le bouton actif */
	color: white; /* Texte blanc */
  }
  /* section projet*/
.categories {
	display: flex;
	justify-content: center; /* Centre les boutons horizontalement */
	align-items: center; /* Aligne les boutons verticalement */
	margin-top: 20px; /* Espace au-dessus des boutons */
	margin-bottom: 20px; /* Espace au-dessous des boutons */
  }
/*Page de connexion*/

  .login-container {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
  }
  
  .login-container button, #add-photo{
	border: 1px solid #1D6154; /* Couleur de la bordure */
	border-radius: 25px; /* Coins arrondis */
	padding: 10px 20px; /* Espacement interne */
	margin-right: 10px; /* Espacement entre les boutons */
	background-color: #1D6154; /* Fond vert */
	color: white; /* Couleur du texte */
	font-family: 'Syne', sans-serif; /* Police */
	font-size: 16px;
	cursor: pointer;
  }
  
  .form-group {
	margin-bottom: 15px;
  }
  
  .form-group label {
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
	text-align: start;
	font-family: Work Sans;
	font-weight:500;
  }
  
  .form-group input {
	width: 100%;
	padding: 10px;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	font-size: 14px;
	box-shadow: 0px 4px 14px 0px #00000017;
  }
    
  .forgot-password {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	color: #3D3D3D;
	text-decoration: underline;
  }
  
  /* Hyperlien*/
  a{
	text-decoration: none;
	color: #000;
  }
  #auth-link:hover {
	color: #B1663C; /* Couleur au survol */
  }

  /*fontawesome */
  i{
	margin-right: 5px;
  }

  /* Bouton modifier*/
  #edit-button{
	font-family: Work Sans;
	font-size: 14px;
	border: none;
	background-color: transparent;
  }

  /* Style de base pour la modale */

h4 {
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	line-height: 30.5px;
	text-align: center;
	margin-bottom: 10px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
  }
  
  /* Contenu de la modale */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 30px;
	border: 1px solid #888;
	width: 80%;
	max-width: 600px;
	border-radius: 10px;
  }
  
  /* Bouton fermer (X) */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

  #modal-gallery .work {
    position: relative;
    width: 77px;
    height: 102px;
    margin: 5px;
    display: inline-block;
    overflow: hidden;
}

#modal-gallery .work img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#modal-gallery .work .delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
	background-color: #000;
	color: #FFFFFF;
	width: 20px; 
    height: 20px; 
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
}

#modal-gallery.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
	grid-column-gap: 0px;
    grid-row-gap: 0px;
	margin-left: 30px;
}

#add-photo{
	margin-top: 20px;	
}
 
.apho {
	display: flex;
	justify-content: center;
}

hr {
	border: none;
	height: 1px;
	background-color: #B3B3B3; /* Couleur de la ligne */
	margin-top: 50px;
	max-width: 530px;
}



input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #cccccc;
    font-size: 16px;
}

.photo-container {
    margin: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
    text-align: center;
	background-color: #E8F1F6;
	border-radius: 3px;
}

.photo-label .photo-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
	
}


.photo-label .photo-box i {
    font-size: 30px;
    color: #cccccc;
}

.photo-label .photo-box button {
    margin-top: 10px;
    font-size: 18px;
    color: #666666;
	border-radius: 50px 50px 50px 50px;
	color: #306685;
	background-color:  #CBD6DC;
	border: transparent;
}

.photo-label .photo-box p {
    font-size: 12px;
    color: #999999;
}

#picto{
	font-size: 500%;
	color: #B9C5CC;
	display: flex;
	justify-content: center;
}

#preview{
	max-width: 200px;
	
}
